*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ecf0f3;
    outline: none;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator
{
    background: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

.calculator input
{
    grid-column: span 4;
    height: 50px;
    width: 250px;
    background: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 30px;
    padding: 20px;
    text-align: right;
    margin: 40px auto;
}

.calculator button
{
height: 50px;
width: 50px;
background: #ecf0f3;
box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
border: none;
border-radius: 50%;
margin: 8px;
gap: 10px;
cursor: pointer;
font-size: 20px;
}

.calculator #equal
{
    width: 120px;
    border-radius: 40px;
}